.page {
  --background: #0f0f0f;
  --foreground: #0f0f0f;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 28px;
  background: #000;
  border-bottom: 1px solid #1f1f1f;
}

.header h1 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.5px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.iconbtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: #1a1a1a;
  border: none;
  color: #ffffff;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition: background 0.2s ease; */
}

.iconbtn:hover {
  background: #2a2a2a;
}

.addbtn {
  background: #ffffff32;
  color: #fffdfd;

  padding: 8px 14px;
  border-radius: 20px;
  border: none;

  font-weight: 600;
  font-size: 12px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.addbtn:hover {
  background: #e5e5e5;
}

.contactsList {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 10px;
  background: #0b0b0b;
  width: 100%;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;

  padding: 12px 16px;
  border-radius: 12px;

  background: #141414;
  transition: background 0.2s ease, transform 0.1s ease;
}


.contactItem:not(:last-child) {
  border-bottom: 1px solid #1f1f1f;
  margin-bottom: 8px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #2a2a2a;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.phone {
  color: #b0b0b0;
  font-size: 13px;
  margin-top: 2px;
}

.itemActions {
  color: #888;
  background: #000FF000;
  font-size: 20px;
  padding: 6px 8px;
  border-radius: 8px;
  border-width: 0px;
  transition: background 0.2s ease;
  cursor: pointer;
}

